body {
  max-width: 1000px;
  margin: auto;
  padding: 1em;
  font-family: Optima, Candara, Calibri, Arial, sans-serif;
  line-height: 1.5;
  zoom: 1.3;
}


footer a {
  text-decoration: none;
}

hr {
  border-style: dashed;
  color: #ddd;
}


img, iframe, video {
  max-width: 100%;
}

ul {
  margin: 0 0;
}